extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Crafting ideas into dynamic products.

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Created a gorgeous portfolio site to showcase some of the great projects that I have built. The site contains a modern landing page, an about page where I have shared contact info, and a series of project pages tthat shows off and details at least my first five projects while pursuing a Techdegree.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
      //-h1 For/Each Loop
      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src= `${project.image_urls[0]}` , alt='small profile picture')
            h5= projects.project_name
      
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        .cell
          a(href='#')
            img.thumbnail(src='https://placehold.it/550x550', alt='')
            h5 My Site

